<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>訂票系統</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
  </head>
  <body>
    <header>
    {% include 'main/menu.html' %}
    </header>
    <h2>吉卜力動畫手稿展</h2>
    <hr>
    <table>
      <tr>
        <th ><img src="{% static 'main/img/picture1.jpg' %}"></th> 
        <th>
          <h3>//展場須知//</h3>
          <p>展覽期間：2019/01/19(六) ~ 2019/04/18(四) </p>
          <p>開放時間： 10:00~18:00(最後入場時間17:30)</p>
          <p>休館日：2019/02/04除夕、2019/02/05初一、2019/02/28</p>
          <p>展覽地點 ：國立中正紀念堂1展廳(台北市中正區中山南路21號)</p>
          <p>主辦單位：聯合數位文創、STUDIO GHIBLI、NEUTRAL</p>
        </th>   
      </tr>
    </table>
  <hr>
  
  <h3>//展場介紹//</h3>
  <p id=ps1>由高畑勳、宮崎駿聯手打造的動畫製作公司『吉卜力工作室』，從這裡誕生的無數動畫帶給我們許多感動。動畫中的
             「構圖(layout)」指的是，在用鉛筆描繪的1張紙上表現出背景與人物的位置關係以及動作的指示、攝影技巧、背景處理等，
               描繪了分鏡中所要呈現的一切，也可以說是電影的設計圖。在分工化發展的現今動畫製作上，肩負了保有作品一貫性的重要角色。
  <p id=ps1>另外，由手繪生動的線條所描繪出的構圖中表現出了人物的速度感與躍動感、登場人物的纖細表情與情感滿溢的風景，超越了設計圖的功能，
               充滿作品本身面貌豐富的魅力，亦傳遞出了動畫整體的世界觀。</p>
  <p id=ps1>本展覽公開以宮崎駿導演親筆構圖為中心，一次公開展出從「風之谷」起至「回憶中的瑪妮」的吉卜力工作室作品，以及
               高畑及宮崎兩導演在吉卜力年代前參與創作包含「小天使 」與「小安妮 」等總共33個作品約1400件寶貴的構圖。讓我們一面解讀充滿吉卜力工作室動畫
               魅力的「構圖」，一面窺探名作動畫作品誕生的秘密。</p>
  <hr>
  <h3>//票價說明//</h3>
  <table id="ps2">
  <tr>
    <th id="bottom">販售時間</th>
    <th id="bottom">票種</th>
    <th id="bottom">票價</th>
    <th></th>
  </tr>
  <tr>
    <td>2018/11/21 ~ 2018/11/30</td>
    <td>早鳥票</td>
    <td>$200元</td>
    <td></td>
  </tr>
  <tr>
    <td>2018/12/16 ~ 2019/01/18</td>
    <td>預售票</td>
    <td>$200元</td>
    <td id="booking"><a class="load" href="{% url 'main:booking' %}">立即購票</a></td>
  </tr>
  <tr>
    <td>2019/01/19 ~ 2019/04/18</td>
    <td>全票</td>
    <td>$320元</td>
    <td></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>