<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>訂票系統</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/booking.css' %}">
  </head>
  <body>
    <header>
    {% include 'main/menu.html' %}
    </header>
    <h2>//線上訂票//</h2>
    <hr>
    <nav>
      <ul>
        <li><a class="load" href="{% url 'main:main' %}">首頁</a></li>
        <li><a class="load" href="{% url 'main:about' %}">動畫手稿展</a></li>
        <li><a class="load" href="{% url 'main:flower' %}">花博展覽</a></li>
        <li><a class="load" href="{% url 'main:booking' %}">立即購票</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <p><a class="btn" href="{% url 'article:articleCreate' %}">我要訂票</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>