<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>訂票系統</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/flower.css' %}">
  </head>
  <body>
    <header>
    {% include 'main/menu.html' %}
    </header>
    <h2>2018臺中世界花卉博覽會</h2>
    <hr>
    <nav>
      <ul>
        <li><a class="load" href="{% url 'main:main' %}">首頁</a></li>
        <li><a class="load" href="{% url 'main:about' %}">動畫手稿展</a></li>
        <li><a class="load" href="{% url 'main:flower' %}">花博展覽</a></li>
        <li><a class="load" href="{% url 'main:booking' %}">立即購票</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <table>
      <tr>
        <th ><img src="{% static 'main/img/flower.jpeg' %}" width="750"></th> 
        <th>
          <h3>//展場須知//</h3>
          <p>活動時間：2018/11/3(六) ~ 2019/4/24(三)</p>
          <p>入場時間： 09:00~19:00(最後入場時間18:30)</p>
          <p>活動地點：豐原區、后里區、外埔區</p>
          <p>活動地址：后里馬場森林園區/外埔永豐園區/豐原葫蘆墩公園</p>
          <p>註：107年11月24日與108年2月4日(除夕)當天休園；</p>
        </th>   
      </tr>
    </table>
  <hr>
  
  <h3>//博覽會介紹//</h3>
  <p id=ps1>「2018臺中世界花卉博覽會」將在2018年11月3日正式營運—您可曾想過，花開，會有聲音？
                                    長久以來，人們重視經濟層面的效應，而輕忽對環境造成的傷害，我們期盼藉由2018臺中世界花卉博覽會，
                                    邀請民眾一起反思人類與自然的親密關係，用心傾聽大自然欲傳達的訊息。
                                    臺中花博規劃后里、外埔、豐原三大園區，分別發展生態保育、精緻農業及環境營造，呼應生態（Green）、
                                    生產（Nature）及生活（People）「三生」， 也就是綠色共生、自然共享及人文共好的概念。</p>
  <hr>
  <h3>//票價說明//</h3>
  <table id="ps2">
  <tr>
    <th>販售時間</th>
    <th>票種</th>
    <th>票價</th>
    <td></td>
  </tr>
  <tr>
    <td>2018/01/08~2018/02/28</td>
    <td>早鳥票</td>
    <td>$200元</td>
    <td></td>
  </tr>
  <tr>
    <td>2018/05/01-2018/07/31</td>
    <td>預售票</td>
    <td>$200元</td>
    <td id="booking"><a class="load" href="{% url 'main:flower' %}">立即購票</a></td>
  </tr>
  <tr>
    <td>2018/11/03-2019/04/24</td>
    <td>全票</td>
    <td>$320元</td>
    <td></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>