<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>訂票系統</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibition.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <h2>新增展覽</h2>
    <hr>
    <form method="post" action="{% url 'exhibition:exhibitionCreate' %}">
      <div>
        {% csrf_token %}
        {{ exhibitionForm.as_p }}
        <input type="submit" value="送出">
      </div>
      
    </form>
  </body>
</html>